body {
    margin: 0;
}

#status {
    background-color: darkviolet;
    height: 5vh;
}

#game {
    background-color: deepskyblue;
    height: 85vh;
}

#actions {
    background-color: forestgreen;
    height: 10vh;
}