body {
    margin: 0;
}

/* INTRO SCREEN */

#intro {
    width: 100vw;
    height: 100vh;
    background-color: deepskyblue;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    position: absolute;
}

#intro p {
    max-width: 50vw;
}

#start {
    position: relative;
    background-color: red;
    font-size: 30px;
    z-index: 2;
}

/* GENERAL */

#game {
    background-color: deepskyblue;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

#name {
    position: absolute;
    top: 0px;
    height: 40px;
    width: 100;
    /* background-color: dimgray; */
}

/* STATUS BARS */

#status {
    background-color: transparent;
    position: relative;
    left: -245px;   
    display: flex;
    flex-wrap: wrap;
    height: 200px;
    width: 70px;
}

.statusBar {
    margin-right: 1px;
    height: 200px;
    width: 20px;
    border: solid black;
    border-radius: 100px;
    border-width: 1px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.barPixel {
    width: 20px;
    height: 2px;
    background-color: transparent;
}

/* ACTION BUTTONS */

#action {
    display: inline-block;
    position: absolute;
    bottom: 35px;
    margin: 0 auto;
    z-index: 1;
}

.actButton {
    width: 100px;
    height: 50px;
    z-index: 1;
}

/*  */

.canvas {
    background-color: white;
    width: 420px;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.pixel {
    background-color: transparent;
    width: 20px;
    height: 20px;
    margin: .5px;
}